@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(25, 33, 62);
}
a {
    color: white;
    text-decoration: none;
}
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}
.navbar ul {
    display: flex;
}
.navbar ul li {
    list-style: none;
    margin-left: 35px;
    
}
.navbar ul li a {
    font-size: 25px;
    font-weight: 500;
}
.active {
    color: rgb(11, 214, 170);
}
.navbar ul li:hover a,
.navbar ul li.active a{
    color: rgb(11, 214, 170);
}
.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: white;
}
.home-info h1 {
    font-size: 55px;
}
.home-info h2 {
    font-size: 28px;
    margin-top: -10px;
}
.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}
.home-info .btn-sci{
    display: flex;
    align-items: center;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(12, 93, 126);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 92, 197);
    font-size: 16px;
    font-weight: 800;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: rgb(255, 255, 255);
    box-shadow: none;


}
.home-info .btn-sci .sci {
    margin-left: 20px;

}
.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid rgb(12, 93, 126);
    border-radius: 50px;
    font-size: 30px;
    margin: 0 8px;
    transition: .5s;
}
.home-info .btn-sci .sci a:hover {
    background: rgb(255, 255, 255);
    color: rgb(12, 93, 126);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}
.home-img .img-box
{
    width: 32vw;
    height: 32vw;
    background-color: red;
    border-radius: 50%;
    padding: 5px;

}
.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: slateblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.home-img .img-box .img-item img {
    position: absolute;
    top: -13px;
    display: block;
    width: 80%;
    object-fit: cover;
}
