/* Apply Poppins across the site */
html, body {
  font-family: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  /* Optional: ensure correct weight rendering */
  font-weight: 400;
}
* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(14, 0, 102);
    color: white;
}

nav {
    background-color: rgb(23, 6, 149);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.left{
    font-size: 2rem;
}

nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(21, 193, 110);
    font-size: 1.2rem;
}
.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 50px 0 ; 
    align-items: center;


}
.firstSection > div {
   width: 30%;
   font-size: 3.34rem;

}
.leftsection{
    font-size: 30px;
    margin: 0 0 0 40px ;
  
}
.div2{
    font-size: 25px;
    margin: 10px 0 0 10px;
    font-weight: bold;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 1);
    
}
.rightsection img{
   width: 80%;
   margin: 5px 0;
  
}
.purple{
    margin: 0 0px 0 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: rgb(13, 13, 197);
    background-color: rgb(0, 0, 0);
 background-image: linear-gradient(rgb(0, 141, 207), rgb(2, 2, 19));
    color: transparent; 
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 40px rgba(0, 0, 0, 1);

}
.gray{
    color: rgb(158, 158, 158);
    font-size: 1.5rem;
}

#element{
    font-size: 40px;
    color: rgb(157, 0, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
      text-shadow:
    0 0 5px #5d00a4,
    0 0 10px #c508ff,
    0 0 20px rgb(159, 15, 255),
    0 0 30px #ff19f4,
    0 0 60px #e600d7,
    0 0 80px #ffffff;
    

}
.secondsection {
    max-width: 80vw;
    margin: auto;
}
main hr{
    border: 0;
    background: #4150ff;
    height: 2px;
    margin: 40px 80px;
}
.secondsection{
    font-size: 2rem;
    height: 80vh;
}
.secondsection .box{
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.vertical{
    height: 400px;
    width: 2px;
    background-color: white;
    margin: 0 100px;
}