@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,rgb(14, 10, 25),rgb(52, 51, 51));
    overflow: hidden;
}
.calculator{
    border: 1px solid white;
    padding: 20px;
    border-radius: 30px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgb(113,115,118);
}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rdgs(84,84,84);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;

}
input::placeholder{
    color: aliceblue;
}
button
{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    cursor: pointer;
}
button:hover{
    transform: scale(1.2);
    color: aquamarine;
    background-color: rgb(78, 78, 78);
}
.equal{
    background-color: rgb(192, 119, 16);
}
.opera{
    color: rgb(0, 254, 93);
}
