.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: aliceblue;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #1f1f1f;
}
.rounded{
    border-radius: 10px;
}
.m1{
    margin: 8px 0px 8px 10px ;
}
.p1{
    padding: 10px;
}
/* Scrollbar Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Transparent Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Neon Thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #222828, #2c2c2c);
  border-radius: 10px;
  background-size: 200% 200%;
  animation: neonScroll 3s ease-in-out infinite;
}

/* Glow Effect on Hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #222828, #2c2c2c);
}

/* Gradient Animation */
@keyframes neonScroll {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
